@charset "UTF-8";

header {
    padding: 12px 10px 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    color: white;
}

header nav {
    display: flex;
}

header a {
    color: white;
    text-decoration: none;
    transition-duration: 0.2s;
}

header nav a {
    padding: 40px 50px 40px 50px;
    border-radius: 8px 8px 0px 0px;
    font-size: 18px;
}

header nav a:hover {
    background-color: white;
    color: var(--main-color);
    padding: 40px 56px 40px 56px;
}

main {
    background-color: var(--secondary-color);
}

.conta a {
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    font-size: 16px;
}

.registro {
    background-color: white;
    color: var(--main-color);
}

.registro:hover {
    padding: 26px;
}

.login {
    outline: 2px solid white;
}

.login:hover {
    padding: 24px;
    background-color: rgba(255, 255, 255, 0.253);
}

.img-destaque {
    display: block;
    width: 100%;
    height: 800px;
}

.img-texto {
    position: absolute;
    bottom: 225px;
    left: 65px;
    padding: 20px 30px;
    font-size: 18px;
}

.img-texto h1 {
    margin-bottom: 20px;
}

.img-texto p {
    margin-bottom: 60px;
}

.img-texto a {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: var(--main-color);
    transition-duration: 0.2s;
}

.img-texto a:hover {
    padding: 26px;
}

aside {
    margin-top: 20px;
    margin-left: 180px;
    margin-right: 180px;
    padding: 15px;
    border-radius: 16px;
    background-color: white;
    gap: 10vh;
}

ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-right: 20px;
    padding: 20px;
    text-align: center;
}

li:last-child {
    margin-right: 0;
}

li img {
    background-color: rgb(121, 70, 70);
}

li p {
    padding: 20px;
    color: white;
    border-radius: 0px 0px 16px 16px;
    background-color: var(--main-color);
}